@import url('https://fonts.googleapis.com/css?family=Bubbler+One');

* {
  font-family: 'Bubbler One', sans-serif;
  font-weight: 800;
}

:root{
  --p1color: #00BDBF;
  --p2color: #8F00D3;
}

div, h1, button, h2 {
  text-align: center;
  font-size: 30px;
}

h1 {
  font-size: 80px;
  letter-spacing: 10px;
}

table, button {
  margin: 0 auto;
}

table#board {
  margin-top: 40px;
  border-collapse: inherit;
}

td {
  border: black 2px solid;
  height: 90px;
  width: 90px;
  border-radius: 40%;
  margin: 10px;
  text-align: center;
  font-size: 37px;
  cursor: pointer;
}

td.store {
  border-radius: 30%;
}

td.p1{
  color: var(--p1color);
}

td.p2 {
  color: var(--p2color);
}

button {
  background-color: #FF5733;
  color: white;
  padding: 10px;
  display: block;
  border-radius: 10px;
}
